body {
 height: 242vh;
 margin: 20px;
 border: 4px black solid;
 background-image: url(../images/bg1.jpg);
 background-repeat: 4;

}

.menu {
  height: 23vh;
  border: 4px black solid;
  margin: 10px;
  margin-bottom: none;
  background-image: url(../images/png.png);
  background-repeat: no-repeat;
}

.menu1 {
  border: none;
  height:5vh;
  margin-top: 18vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


a {
  text-decoration: none;
}

a li:hover {
	background-color: #fff;
  color: black;
}

.menu1 li {
  list-style: none;
  color: black;
	background-color: #056571;
	text-align: center;
	padding: 5px;
	margin-right: 10px;
	border-radius: 10px;
	font-family: verdana;
	color: white;
  width: 300px;

}

.pic1 {
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-gap: 20px;
  margin: 10px;
}

.img1{
    border: 4px black solid;
    height: 50vh;
    background-image: url(../images/a.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.img2{
    border: 4px black solid;
    height: 50vh;
    background-image: url(../images/ch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img3{
  border: 4px black solid;
  height: 50vh;
  margin-top: 10px;
  background-image: url(../images/lk.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img4{
    border: 4px black solid;
    height: 50vh;
    margin-top: 10px;
    background-image: url(../images/d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img5{
    border: 4px black solid;
    height: 50vh;
    margin-top: 20px;
    background-image: url(../images/po.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img6{
    border: 4px black solid;
    height: 50vh;
    margin-top: 20px;
    background-image: url(../images/ju.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.img7{
  border: 4px black solid;
  height: 50vh;
  margin-top: 30px;
  background-image: url(../images/cip.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.img8{
    border: 4px black solid;
    height: 50vh;
    margin-top: 30px;
    background-image: url(../images/d.png);
    background-repeat: no-repeat;
    background-size: cover;

}

h1{
  color:white;
}
